nav {
    background-color: #fff;
    height:45px;
    border-bottom: 1px solid rgb(156, 156, 156);
}

nav ul {
    margin:0;
    padding:0;
    display: flex;
    justify-content: space-between;
}

nav ul li{
    list-style:none;
    height:100%;
}

.icon{
    margin:10px;
}

.title{
    text-align: center;
    align-self: center;
}

a{
    text-decoration: none;
}