.photo {
    width: 100vw;
    margin-top:5vh; 
    margin-bottom:5vh; 
}

.center{
    width: 150px;
    margin: auto;
    text-align: center;
}

label {
    margin:20px;
    display:block;
    width:30vw;
}

input {
    margin:20px;
    display:block;
    width:100%;
}

.input{
    border-radius: 20px;
    border: 1px solid #2D2E2E;
    height: 30px;
}

.profile-picture{
    font-size:150px;
    margin:0;
}

.champ {
    display: flex;
    text-align: start;
    align-items: center;
}